* {
  box-sizing: border-box; }

/*Global variables*/
.login__card {
  padding: 30px 40px 40px 40px;
  width: 450px;
  margin: 0 auto;
  border: 1px solid #b8b1b1; }

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #EFEFEF;
  flex: 1;
  width: 95%;
  margin: auto;
  margin-bottom: 40px; }

.login__header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

.login__logo {
  width: 175px;
  height: 51px; }

.login__singup {
  position: relative;
  width: 100%; }

.login__facebook {
  width: 100%;
  background-color: #227dd3;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  color: white;
  padding: 10px; }

.login__icon {
  color: white;
  position: absolute;
  font-size: 17px;
  top: 12px;
  left: 40px; }

.login__division {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.login__linea {
  height: 1px;
  flex-basis: 40%;
  align-self: center; }

.login__or {
  flex-basis: 20%;
  text-align: center;
  color: #4b4848; }

.login__inputs {
  display: flex;
  width: 100%;
  flex-direction: column; }

.login__data {
  border: 1px solid #EFEFEF;
  background-color: #FAFAFA;
  height: 36px;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px; }

.login__singup {
  color: white;
  background-color: #227dd3;
  border-radius: 3px; }

.login__singup {
  width: 100%;
  background-color: #227dd3;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px; }

.login__terms {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 14px; }

.login__account {
  width: 100%;
  text-align: center;
  border: 1px solid #EFEFEF;
  padding: 20px;
  color: #797373; }

.login__link {
  text-decoration: none;
  color: #52A1F2;
  margin-left: 5px; }
