* {
    box-sizing: border-box;
  }
  
  /*Global variables*/
  $borInputColor : #EFEFEF;
  $inputBackClr: #FAFAFA;
  $textSize: 14px;
  $borderRadius : 3px;
  $faceBlue : #227dd3;
  
  .login {
    &__card {
      padding: 30px 40px 40px 40px;
      width: 450px;
      margin: 0 auto;
      border: 1px solid rgb(184, 177, 177);
    }
  
    &__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid $borInputColor;
      flex: 1;
      width: 95%;
      margin: auto;
      margin-bottom: 40px;
    }
  
    &__header {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  
    &__logo {
      width: 175px;
      height: 51px;
    }
  
    &__singup {
      position: relative;
      width: 100%;
    }
  
    &__facebook {
      width: 100%;
      background-color: $faceBlue;
      font-size: $textSize;
      font-weight: bold;
      border: 1px solid $borInputColor;
      border-radius: $borderRadius;
      color: white;
      padding: 10px;
    }
  
    &__icon {
      color: white;
      position: absolute;
      font-size: 17px;
      top: 12px;
      left: 40px;
    }
  
    &__division {
      display: flex;
      justify-content: space-between;
      width: 100%
    }
  
    &__linea {
      height: 1px;
      flex-basis: 40%;
      align-self:center;
    }
  
    &__or {
      flex-basis: 20%;
      text-align: center;
      color: rgb(75, 72, 72);
    }
  
    &__inputs {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
  
    &__data {
      border: 1px solid $borInputColor;
      background-color: $inputBackClr;
      height: 36px;
      padding: 5px 5px 0 5px;
      margin-bottom: 10px;
    }
  
    &__singup {
      color: white;
      background-color: $faceBlue;
      border-radius: $borderRadius;
    }
  
    &__singup {
      width: 100%;
      background-color: $faceBlue;
      font-size: $textSize;
      font-weight: bold;
      color: white;
      padding: 10px;
    }
  
    &__terms {
      width: 100%;
      text-align: center;
      color: #999;
      font-size: $textSize;
    }
  
    &__account{
      width: 100%;
      text-align: center;
      border: 1px solid $borInputColor;
      padding: 20px;
      color: rgb(121, 115, 115);
    }
  
    &__link {
      text-decoration: none;
      color: #52A1F2;
      margin-left: 5px;
    }
  }